{{ template "header" . }}
{{ template "head_menu" . }}
{{ if eq .user.Email .settings.ADMIN_EMAIL }}
    <script language="javascript">
        function doSearchUser() {
            var kw = document.getElementById("keyword").value
            var url = "/searchuser?is_ajax=1&kw="+kw;
            AJAX.getText(url, function(response){
                try {
                    founduser = JSON.parse(response)
                }   catch (e) {
                    if (e instanceof SyntaxError) {
                        console.log(e, true);
                    } else {
                        console.log(e, false);
                    }
                    founduser = null
                }
                if (founduser){
                    document.getElementsByName("f_name")[0].value = founduser.FirstName;
                    document.getElementsByName("l_name")[0].value = founduser.LastName;
                    document.getElementsByName("email")[0].value = founduser.Email;
                    document.getElementsByName("group_names")[0].value = founduser.GroupNames;
                    document.getElementsByName("h_phone")[0].value = founduser.HomePhone;
                    document.getElementsByName("w_phone")[0].value = founduser.WorkPhone;
                    document.getElementsByName("m_phone")[0].value = founduser.MobilePhone;
                    document.getElementsByName("extra_info")[0].value = founduser.ExtraInfo;
                    if (founduser.AttemptCount > 3) {
                        var uForm = document.getElementById("edituser");
                        var btn = document.createElement("BUTTON")
                        btn.innerHTML = "Unlock Account"
                        btn.name = "submit"
                        btn.value = "Unlock Account"
                        uForm.appendChild(btn)
                    }
                } else {
                    alert("User not found or some errors.")
                }
            })
        }
    </script>
    <fieldset class="page_content">
    <legend>Search User</legend>
    <table rules="rows,cols" border="0" cellpadding="1" cellspacing="1">
        <tr>
            <td>Key word: <input type="text" name="keyword" id="keyword" value=""/></td>
            <td><input type="button" name="submit" value="search" onclick="doSearchUser();" /></td>
        </tr>
    </table>
    </fieldset>
{{ end }}

<form id="edituser" action="{{ .settings.BASE_URL }}/edituser" method="POST">{{ .csrfField }}
<br/>
<hr>
<fieldset>
<legend>User Details:</legend>
<table rules="rows,cols" border="0" cellpadding="3" cellspacing="3">
<TR>
    <TD>First Name</TD><td><input type="text" name='f_name' value="{{ .user.FirstName }}"/></td>
</TR>
<TR>
    <TD>Last Name</TD><td><input type="text" name='l_name' value="{{ .user.LastName }}"/></td>
</TR>
<TR>
    <TD><font color=red><b>Email*: </b></font></TD>
    <td><input title="Your login email. Please note this can not be changed. If you changed this field and click Add/Edit user it will add a new user with that email login but the existing user still exists" type="text" name='email' value="{{ .user.Email }}"/></td>
</TR>
<TR>
    <TD>Current Password*: </TD>
    <td><input title="If you edit this page as normal user and want to change your own details, type your password." type="password" name='cur_password' value=""/></td>
</TR>
<TR>
    <TD>New Password*: </TD>
    <td><input type="password" title="Type new password for the password change" name='password' value=""/></td>
</TR>
<TR>
    <TD title="coma separated group name">Groups list*: </TD>
    <td><input type="text" name='group_names' value="{{ .user.GroupNames }}"/></td>
</TR>
<TR>
    <TD>Home phone</TD>
    <td><input type="text" name='h_phone' value="{{ .user.HomePhone }}"/></td>
</TR>
<TR>
    <TD>Address</TD>
    <td><input type="text" name='address' value="{{ .user.Address }}"/></td>
</TR>
<TR>
    <TD>Work phone</TD>
    <td><input type="text" name='w_phone' value="{{ .user.WorkPhone }}"/></td>
</TR>
<TR>
    <TD>Cell phone</TD>
    <td><input type="text" name='m_phone' value="{{ .user.MobilePhone }}"/></td>
</TR>
<TR>
    <TD>Extra Infomation</TD>
    <td><input type="text" name='extra_info' value="{{ .user.ExtraInfo }}"/></td>
</TR>
<TR>
    <TD>
        <input type="submit" title="Click to add user if you change the login email and you logged in as admin account. Or to update your current account details" name="submit" value="Add/Edit User"/>
        <input type="submit" name="submit" value="Generate new OTP QR image"/>
    </TD>
    <td>
        <input type="reset" name="reset" value="reset"/>
        <input type="submit" name="delete" value="Delete User"/>
    </td>
</TR>
</table>
</fieldset>
<br/><br/>

{{ if eq .user.Email .settings.ADMIN_EMAIL }}
    <hr>
    <fieldset>
    <legend>Add new groups:</legend>
    <table rules="rows,cols" border="0" cellpadding="3" cellspacing="3">
        <tr>
            <td title="coma separated list of new group names">Group name(s)*: </td>
            <td><input type="text" name="new_group_names" value=""/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="submit" value="Add Groups"/>
            </td>
        </tr>
        {{ if eq .user.Email .settings.ADMIN_EMAIL }}
        <tr>
            <td colspan="2">
                ALl groups as of now: {{ .allgroups }}
            </td>
        </tr>
        {{ end }}
    </table>
    </fieldset>
    </form>
{{ end }}

{{ template "footer" . }}
</body>
</html>