{{ define "header" }}
<!DOCTYPE html>
<html>
<head>
  <title>{{ .title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="stylesheet" type="text/css" href="/assets/media/css/site.css">

<!--  <script type="text/javascript" src='/media/js/tiny_mce/tiny_mce.js'></script> -->

<script type="text/javascript" src="/assets/media/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src='/assets/media/js/ajax.js'></script>
<script type="text/javascript" src='/assets/media/js/utils.js'></script>
    {{ if (eq .page "frontpage") }}
    <!-- <script type="text/javascript">user.current_pref.tinymce_init</script> -->
    {{ end }}
</head>
{{ end }}