{{ define "head_menu" }}
<script language="javascript">
function ask_me(msg) {return confirm("Are you sure to " + msg + " ?")  }
</script>
<form method="POST" action="{{ .settings.BASE_URL }}/search" name="search" id="search">{{ .csrfField }}
<i>Keyword or :TAGS</i>
<input type="text" name="keyword" value=""/>
<input type="submit" name="search_submit" value="Search" />
{{ if eq .page "list_att" }}
<input type="hidden" name="searchtype" value="attachment"/>
{{ end }}
{{ if and .note .note.ID }}
<input type="hidden" name="note_id" value="{{ .note.ID }}"/>
{{ end }}
</form><br>

<A href="{{ .settings.BASE_URL }}/">New</A>&nbsp;
<A href="{{ .settings.BASE_URL }}/?raw_editor=0">New HTML</A>
{{ if .note }}
    {{ if eq .page "noteview" }}
        <a href="{{ .settings.BASE_URL }}/?id={{ .note.ID }}">Edit</a>
    {{ else }}
        {{ if gt .note.ID 0 }}
        <a href="{{ .settings.BASE_URL }}/view?id={{ .note.ID }}">View</a>
        <a href="{{ .settings.BASE_URL }}/view?id={{ .note.ID }}&t=2">View2</a>
        {{ end }}
    {{ end }}
    {{ if ne .note.ID 0 }}
        <a href="{{ .settings.BASE_URL }}/delete?id={{ .note.ID }}" onClick="return ask_me('delete');">Delete</a>
    {{ end }}
{{ end }}
&nbsp;&nbsp;<A href="{{ .settings.BASE_URL }}/upload">Upload files</A>
&nbsp;&nbsp;<A href="{{ .settings.BASE_URL }}/list_attachment">List files</A>
&nbsp;&nbsp;<a href="{{ .settings.BASE_URL }}/search?keyword={{ .keyword }}">Back to search result</a> &nbsp;&nbsp;
{{ if .user }}
    <DIV align="right" style="color : #b4bfff; display : inline;">Hi {{ .user }}<span title="Your groups: {{ .user.Groups }}"><i>{{ .session.user }}:{{ .session.authenticated }} </i></span>
    {{ if eq .user.Email .settings.ADMIN_EMAIL }}
        <a href="{{ .settings.BASE_URL }}/edituser">User Management</a>
    {{ else }}
        <a href="{{ .settings.BASE_URL }}/edituser">Account Management</a>
    {{ end }}
        </DIV>
{{ end }}
{{ if eq .page "list_attachement" }}
    <div title="Auto scan the uploads folder and update/add new attchments for all files within."><a href="{{ .settings.BASE_URL }}/auto_scan_attachment">Scan & Update Attachment</a></div>
{{ end }}

{{ end }}