{{ define "list_note_attachment" }}
{{ if .attachments }}
<hr/>
<table class="editable" border="1" cellpadding="3" cellspacing="3">
<TR>
  <TD>name</TD>
  <td>description</td>
  <td>group</td>
  <td>permission</td>
  <td>TS</td>
  <td>size</td>
  <td colspan="4">&nbsp;</td>
</TR>
{{ $date_layout := .date_layout }}
{{ $settings := .settings }}
{{ $note := .note }}
{{ $page := .page }}
{{ range $idx, $attachment := .attachments }}
<tr id="{{ $attachment.ID }}">
  <TD id='name'>{{ $attachment.Name }}</TD>
  <td id='desc'>{{ $attachment.Description | md2html }}</td>
  <td id='group'>{{ $attachment.Group.Name }}</td>
  <td id='permission'>{{ $attachment.Permission }}</td>
  <td>{{ $attachment.Updated|time_fmt $date_layout }}</td>
  <td>{{ $attachment.FileSize }}</td>
  {{ if $note  }}
  <td>
    {{ if eq $page "noteview" }}
      <a href="/delete_attachment_to_note" onclick="do_delete_note_attachment(this.parentNode);return false;">unlink to note</a>
    {{ else }}
      <a href="/add_attachment_to_note" onclick="do_add_attachment_to_note(this.parentNode);return false;">link to note</a>
    {{ end }}
  </td>
  {{ end }}
  <td><a href="/delete_attachment" onclick="do_delete_attachment(this.parentNode);return false;">delete</a></td>
  <td><a href="{{ $settings.BASE_URL }}/streamfile?id={{ $attachment.ID }}&action=stream">view</a></td>
  <td><a href="{{ $settings.BASE_URL }}/streamfile?id={{ $attachment.ID }}&action=download">download</a></td>
  <td><a href="{{ $settings.BASE_URL }}/edit_attachment?id={{ $attachment.ID }}">edit</a></td>
</tr>
{{ end }}
<script>
  function do_delete_attachment(obj) {
    if (confirm("Are you sure remove this attachment?")) {
    var url = "/delete_attachment?is_ajax=1&id="+obj.parentNode.id;
     AJAX.getText(url, function(response) {
      alert(response);
    }  )
  }}
</script>
</table>
<br>
{{ end }}
{{ if .note }}
<script language="JavaScript">
function do_add_attachment_to_note(obj) {
  if (confirm("Are you sure to link this attachment to note?")) {
  var url = "/add_attachment_to_note?is_ajax=1&attachment_id="+obj.parentNode.id+"&note_id={{ .note.ID }}";
  AJAX.getText(url, function(response) {
    alert(response);
  })
}}
function do_delete_note_attachment(obj) {
  if (confirm("Are you sure to delete link this attachment to this note?")) {
    var url = "/delete_note_attachment?is_ajax=1&action=unlink&note_id={{ .note.ID }}&attachment_id="+obj.parentNode.id;
      AJAX.getText(url, function(response) {
          alert(response);
	    }  )
	    }}
</script>
&nbsp;<a href="/list_attachment?note_id={{ .note.ID }}">Add Attachment</a>
{{ end }}
{{ end }}