{{ template "header" . }}
<h2>Web note - Attachment list</h2>
{{ template "head_menu" . }}
<hr/>
<table class="editable" border="1" cellpadding="3" cellspacing="3">
<TR>
  <TD class="commands uneditable">name</TD>
  <td class="commands uneditable">description</td>
  <td class="commands uneditable">group</td>
  <td class="commands uneditable">permission</td>
  <td class="commands uneditable">TS</td>
  <td>size</td>
  <td class="commands uneditable" colspan="4">&nbsp;</td>
</TR>
{{ $date_layout := .date_layout }}
{{ $settings := .settings }}
{{ $note := .note }}
{{ range $idx, $attachment := .attachments }}
<tr id="{{ $attachment.ID }}">
  <TD id='name'>{{ $attachment.Name }}</TD>
  <td id='desc'>{{ $attachment.Description }}</td>
  <td id='group'>{{ $attachment.Group.Name }}</td>
  <td id='permission'>{{ $attachment.Permission }}</td>
  <td class="commands uneditable">{{ $attachment.Updated|time_fmt $date_layout }}</td>
  <td>{{ $attachment.FileSize }}</td>
  {{ if $note }}
  <td class="commands uneditable">
      <a href="/add_attachment_to_note" onclick="do_add_attachment_to_note(this.parentNode);return false;">add</a>

  </td>
  {{ end }}
  <td class="commands uneditable"><a href="/delete_attachment" onclick="do_delete_attachment(this.parentNode);return false;">delete</a></td>
  <td class="commands uneditable"><a href="{{ $settings.BASE_URL }}/streamfile?id={{ $attachment.ID }}&action=stream">view</a></td>
  <td class="commands uneditable"><a href="{{ $settings.BASE_URL }}/streamfile?id={{ $attachment.ID }}&action=download">download</a></td>
</tr>
{{ end }}
</table>
<br>
<a href="{{ .settings.BASE_URL }}/upload">Upload new attachment</a>
<script language="JavaScript">
{{ if .note }}
function do_add_attachment_to_note(obj) {
  if (confirm("Are you sure to link this attachment to note?")) {
  var url = "/add_attachment_to_note?is_ajax=1&attachment_id="+obj.parentNode.id+"&note_id={{ .note.ID }}";
  AJAX.getText(url, function(response) {
    alert(response);
  })
}}
{{ end }}

function do_delete_attachment(obj) {
  if (confirm("Are you sure remove this attachment?")) {
  var url = "/delete_attachment?is_ajax=1&id="+obj.parentNode.id;
   AJAX.getText(url, function(response) {
    alert(response);
  }  )
}}

/*
InlineEditor.elementChanged = function( theElement, oldVal, newVal )
    {
//    mySavingIndicator( theElement );
      var url = "$config.get('app', 'APP_BASE_URL')?action=save_attachment&id="+theElement.parent.id.value+"&field="+theElement.id+"&value="+newVal;
      AJAX.getText( url, function( response ){
  //  clearMySavingIndicator( theElement );
          alert( 'Did the save work? ' + response );
      }); // end ajax callback function
    };  // end elementChanged
*/
</script>
{{ template "footer" . }}
</body>
</html>