{{ template "header" . }}
<h1> Webnote Login </h1>
<div class="login">
{{ .msg }}
<form METHOD="POST" ACTION="/login">
    <input type="hidden" name="action" value="do_login"/>
    <input type="hidden" name="from_uri" value="{{ .from_uri }}"/>
    <input type="hidden" name="path" value="{{ .path }}"/>
    <p>
        <font size="2"><strong>Your IP address is: {{ .client_ip }} and logged.<br>
            This is private server and unauthorized access will be reported</strong>
        </font><br/><br/>
        <font size="2"> <strong>
            Enter login name and password: </strong>
        </font>
        <table border="0" cellpadding="3" cellspacing="3">
            <TR>
                <TD>User:</TD><td><input type="text" size="20" name="username"/></td>
            </TR>
            <tr>
                <TD>Password:</TD><td><input type="password" size="20" name="password"/></td>
            </tr>
            <tr>
                <TD>Feeling lucky? :</TD><td><input type="text" size="20" name="totp_number"/></td>
            </tr>
        </table>
        <input type="checkbox" name="remember_me" checked/>Remember me
        &nbsp;&nbsp;&nbsp;<input type="submit" name="login" value="Login"/>
    </p>
</FORM>
</div>
</body>
</html>
