{{ template "header" . }}
{{ template "head_menu" . }}
<br><br>{{ .csrfField }}
<table rules="rows,cols" align='center' border="0" cellpadding="2" cellspacing="2">
    <TR>
        <TD>&nbsp;</TD>
        <TD title="note title" contenteditable="true" colspan="2" id="title" onChange="isModified=true;"><strong>{{ .note.Title }}</strong></TD>
    </TR>
    <tr>
        <TD>&nbsp;</TD>
        <td title="date logged"><i>{{ .note.Datelog | time_fmt .date_layout }}</i></td>
        <td contenteditable="false" id="flags">{{ .note.Flags }}</td>
    </tr>
    <tr>{{ if eq .note.RawEditor 0 }}
        <TD valign="top" onclick="enable_edit(this);" title="Click me or any left area below me and click the next content area to enable edit the note content. Click again to save and switch to view"><u><i>edit</i></u></TD>
        {{ else }}
        <td>&nbsp;</td>
        {{ end }}
        <td colspan="2"><div id="content" contenteditable="false">{{ if eq .note.RawEditor 0 }}{{ .note.Content | raw_html }}{{ else }}{{ .note.Content | md2html }}{{ end }}<div></td>
    </tr>
    <tr>
        <TD>&nbsp;</TD>
        <td title="links url" colspan="2" contenteditable="true" id='url'>{{ .note.URL }}</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <TD colspan="2">
        {{ if or (eq .note.AuthorID .user.ID) (eq .note.AuthorID 0) }}
            <select id="ngroup" onChange="isModified=true;"  title="groups list">
            {{ $ngroup := "" }}
            {{ if .note.Group }}
                {{ $ngroup = .note.Group.Name }}
            {{ else }}
                {{ $ngroup = "default" }}
            {{ end }}
            {{ range $idx, $gr := .groups }}
                <option value="{{ $gr.Name }}" {{ if eq $ngroup $gr.Name }} selected="selected" {{ end }}>{{ $gr.Name }}</option>
            {{ end }}
            </select>
        {{ end }}
        &nbsp;&nbsp;
        {{ if or (eq .note.AuthorID .user.ID) (eq .note.AuthorID 0) }}
            <select name="permission" title="permissions list">
            {{ $note := .note }}
            {{ range $permVal, $perm := .permission_list }}
            <option value="{{ $permVal }}" {{ if eq $permVal $note.Permission }} selected="selected" {{ end }}>{{ $perm }}</option>
            {{ end }}
            </select>
        {{ end }}
        </td>
    </tr>
</table>
<br>
<a href="{{ .settings.BASE_URL }}/?id={{ .note.ID }}">Edit</a>&nbsp;&nbsp;<a href="{{ .settings.BASE_URL }}/delete?id={{ .note.ID }}" onClick="return ask_me('delete');">Delete</a>
{{ template "footer" . }}
<br><br>

{{ template "list_note_attachment" . }}

{{ if not (eq .user.ID 0) }}
    <br><br>
    Revisions history
    <table rules="rows,cols" border="1" cellpadding="2" cellspacing="2">
        <TR bgcolor="blue">
            <b>
            <TD>title</TD>
            <TD>datelog</TD>
            <td>author</td>
            <td>v</td>
            <td>v2</td>
            </b>
        </TR>
        {{ $date_layout := .date_layout }}
        {{ $currNoteID := .note.ID }}
        {{ range $idx, $note := .revisions }}
        <tr bgcolor="{{ cycle $idx "#FFFFFF"  "#F8F8F8" }}" onMouseOver="this.bgColor='#E0FFE0';" onMouseOut="this.bgColor='{{ cycle $idx "#FFFFFF"  "#F8F8F8" }}';">
            <TD title="{{ $note.Title }}"><i>{{ $note.Title | truncatechars 50 }}</i></TD>
            <td>{{ $note.Datelog | time_fmt $date_layout }}</td>
            <td>{{ $note.Author.FirstName }} {{ $note.Author.LastName }}</td>
            <td><a href="/view_rev?id={{ $note.ID }}">view</a></td>
            <td><a href="/view_rev?id={{ $note.ID }}&t=2">view2</a></td>
            <td><a href="/view_diff?id={{ $currNoteID }}&rev_id={{ $note.ID }}" rel="popup">view diff</a></td>
        </tr>
        {{ end }}
    </table>
{{ end }}
{{ if eq .note.RawEditor 0 }}
<script>
CKEDITOR.disableAutoInline = true;
isModified = false;

function enable_edit(o) {
    m = document.getElementById( 'content' );
    if (o.textContent == 'edit') {
    	o.innerHTML = "<u>save</u>";
    	o.setAttribute("onclick", "do_save(this);");
    	m.setAttribute("contenteditable", "true");
    	editor = CKEDITOR.inline( 'content' );
            editor.on('key', function(e) {
               var k = e.data.keyCode;
    	   var igk = [20,27,33,34,35,36,37,38,39,40,45,91,144,2228240,1114129,4456466,1114179];
    	   if (igk.indexOf(k) > -1) return;
    	   else isModified = true;
    	} );
    	document.getElementById("title").addEventListener("input", function() {
    	   isModified=true;
    	}, false);

    }
}

function enable_view(o) {
    if (o.textContent == 'save') {
    	o.innerHTML = "<u><i>edit</i></u>";
    	o.setAttribute("onclick", "enable_edit(this);");
    	m.setAttribute("contenteditable", "false");
    	for(k in CKEDITOR.instances){
                var instance = CKEDITOR.instances[k];
                instance.destroy();
            }
    }
}
function do_save(o) {
    enable_view(o);
    if (! isModified ) {return;}
    isModified = false;
    var data = editor.getData();
    var _flags = document.getElementById("flags");
    var flags= _flags.innerHTML.replace(/^Tags:[ ]*/,'');
    var _title = document.getElementById("title");
    var title = _title.innerHTML;
    var _url = document.getElementById("url");
    var url = _url.innerHTML;// the replace below to trip tag <br> at the end
    var csrfToken = encodeURIComponent(document.getElementsByName("gorilla.csrf.Token")[0].value)
    params = "gorilla.csrf.Token=" + csrfToken + "&is_ajax=1&id={{ .note.ID }}&flags=" + flags.replace(/<(?:.|\n)*?>/gm, '') + "&title=" + title.replace(/<(?:.|\n)*?>/gm, '') + "&url=" + url.replace(/<(?:.|\n)*?>/gm, '') + "&content=" + myEncode(data);
    var _ngroup = document.getElementById("ngroup");
    if (_ngroup) params += "&ngroup=" + _ngroup.value;
    var _perm = document.getElementById("permission");
    if (_perm) params += "&perm=" + _perm.value;
    AJAX.postText("{{ .settings.BASE_URL }}/savenote", params, function(response) {
        // alert(response);
        }
    );
}
</script>
{{ end }}
</body>
</html>