<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/><meta http-equiv="Expires" content="0"/>
        <title>{{ .note.Title }}</title>
    </head>
    <body>
        <table rules="rows,cols" align='center' border="0" cellpadding="5" cellspacing="5" width="98%">
            <tr>
                <td>{{ .note.Content | unsafe_raw_html }}</td>
                {{ .csrfField }}
            </tr>
        </table>
    </body>
</html>
