{{ template "header" . }}
{{ template "head_menu" . }}<br><br>
<form action="{{ .settings.BASE_URL }}/upload" method="POST" enctype="multipart/form-data">{{ .csrfField }}
<input type="hidden" name="action" value="show_uploadform"/>
You are: {{ .user }} <br/>
Select file to upload - type name and decription then click Submit<br/><br>
<table>
    <tr>
        <td title="if leave it empty the filename will be used">Attachement name:</td>
        <td><input type="text" value="" name="a1"/></td>
        <td>
            <select name="permission">
            {{ range $permVal, $perm := .permission_list }}
            <option value="{{ $permVal }}">{{ $perm }}</option>
            {{ end }}
            </select>
        </td>
    </tr>
    <tr>
        <td>Description:</td>
        <td><input type="text" value="" name="desc1"/></td>
    </tr>
    <tr>
        <td colspan="2"><input type="file" name="myFile1" /></td>
    </tr>
</table>
<br><hr>
<table>
    <tr>
        <td title="if leave it empty the filename will be used">Attachement name:</td>
        <td><input type="text" value="" name="a2"/></td>
        <td>
            <select name="permission">
            {{ range $permVal, $perm := .permission_list }}
            <option value="{{ $permVal }}">{{ $perm }}</option>
            {{ end }}
            </select>
        </td>
    </tr>
    <tr>
        <td>Description:</td>
        <td><input type="text" value="" name="desc2"/></td>
    </tr>
    <tr>
        <td colspan="2"><input type="file" name="myFile2" /></td>
    </tr>
</table>
<br><hr>
<table>
    <tr>
        <td title="if leave it empty the filename will be used">Attachement name:</td>
        <td><input type="text" value="" name="a3"/></td>
        <td>
            <select name="permission">
            {{ range $permVal, $perm := .permission_list }}
            <option value="{{ $permVal }}">{{ $perm }}</option>
            {{ end }}
            </select>
        </td>
    </tr>
    <tr>
        <td>Description:</td>
        <td><input type="text" value="" name="desc3"/></td>
    </tr>
    <tr>
        <td colspan="2"><input type="file" name="myFile3" /></td>
    </tr>
</table>
<input type="submit" value="Submit" />
</form>
